version: "3.7"

networks:
  placeos:
    name: placeos
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.31.231.0/24

# YAML Anchors

x-deployment-env: &deployment-env
  ENV: ${ENV:-development}
  SG_ENV: ${SG_ENV:-development}
  TZ: $TZ

x-elastic-client-env: &elastic-client-env
  ES_HOST: ${ELASTIC_HOST:-elastic}
  ES_PORT: ${ELASTIC_PORT:-9200}

x-etcd-client-env: &etcd-client-env
  ETCD_HOST: ${ETCD_HOST:-etcd}
  ETCD_PORT: ${ETCD_PORT:-2379}

x-redis-client-env: &redis-client-env
  REDIS_URL: ${REDIS_URL:-redis://redis:6379}

x-rethinkdb-client-env: &rethinkdb-client-env
  RETHINKDB_HOST: ${RETHINKDB_HOST:-rethink}
  RETHINKDB_PORT: ${RETHINKDB_PORT:-28015}
  RETHINKDB_DB: ${RETHINKDB_DB:-place_development}

services:
  elastic:
    image: blacktop/elasticsearch:${ELASTIC_VERSION:-7.6}
    restart: always
    container_name: elastic
    hostname: elastic
    expose:
      - 9200
    ports:
      - 127.0.0.1:8090:9200
    networks:
      placeos:
        ipv4_address: 172.31.231.10
    environment:
      discovery.type: single-node

  etcd:
    image: bitnami/etcd:${ETCD_VERSION:-3.3.13}
    restart: always
    container_name: etcd
    hostname: etcd
    ports:
      - 127.0.0.1:8091:2379
      - 127.0.0.1:8092:2380
    networks:
      placeos:
        ipv4_address: 172.31.231.11
    environment:
      ALLOW_NONE_AUTHENTICATION: "yes"

  redis:
    image: eqalpha/keydb
    restart: always
    container_name: redis
    hostname: redis
    ports:
      - 127.0.0.1:7379:6379
    networks:
      placeos:
        ipv4_address: 172.31.231.13

  rethink:
    image: rethinkdb:${RETHINKDB_VERSION:-2.4}
    restart: always
    container_name: rethink
    hostname: rethink
    ports:
      - 127.0.0.1:8093:8080
    networks:
      placeos:
        ipv4_address: 172.31.231.14

  # rubber-soul: # RethinkDB to Elasticsearch Service
  #   image: placeos/rubber-soul:${PLACE_RUBBER_SOUL_TAG:-latest}
  #   restart: always
  #   container_name: rubber-soul
  #   hostname: rubber-soul
  #   ports:
  #     - 127.0.0.1:8084:3000
  #   networks:
  #     placeos:
  #       ipv4_address: 172.31.231.8
  #   depends_on:
  #     - elastic
  #     - rethink
  #   environment:
  #     # Service Hosts
  #     << : *rethinkdb-client-env
  #     << : *elastic-client-env
  #     # Environment
  #     << : *deployment-env

  api: # Rest API
    build:
      context: ./
      dockerfile: Dockerfile.test
    restart: always
    container_name: api
    hostname: api
    ports:
      - 127.0.0.1:8082:3000
    networks:
      placeos:
        ipv4_address: 172.31.231.2
    depends_on:
      - elastic
      - etcd
      - redis
      - rethink
      # - rubber-soul
    environment:
      # Environment
      <<: *deployment-env
      # Service Hosts
      <<: *elastic-client-env
      <<: *etcd-client-env
      <<: *redis-client-env
      <<: *rethinkdb-client-env
