---
openapi: 3.0.1
info:
  title: PlaceOS Rest-API
  version: 1.30.2
paths:
  /api/engine/v2/api_keys:
    get:
      summary: get all api keys
      parameters:
      - name: authority_id
        in: query
        description: Filter by authority_id
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiKey'
      security:
      - bearerAuth: []
    post:
      summary: Create an api key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKey'
        required: true
      responses:
        "201":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
      security:
      - bearerAuth: []
  /api/engine/v2/api_keys/inspect:
    get:
      summary: Get the user token
      responses:
        "200":
          description: OK
          content:
            text/yaml:
              schema: {}
      security:
      - bearerAuth: []
  /api/engine/v2/api_keys/{id}:
    get:
      summary: get current api key
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: id
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiKey'
      security:
      - bearerAuth: []
    put:
      summary: Update an api key
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: id
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKey'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
      security:
      - bearerAuth: []
    patch:
      summary: Update an api key
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: id
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKey'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
      security:
      - bearerAuth: []
  /api/engine/v2/triggers:
    get:
      summary: get all triggers
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Trigger'
      security:
      - bearerAuth: []
    post:
      summary: Create a trigger
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Trigger'
        required: true
      responses:
        "201":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trigger'
      security:
      - bearerAuth: []
  /api/engine/v2/triggers/{id}:
    get:
      summary: get triggers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: id
      - name: instances
        in: query
        description: should instances be returned
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: OK
          content:
            text/yaml:
              schema: {}
      security:
      - bearerAuth: []
    put:
      summary: Update a trigger
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: id
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Trigger'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trigger'
      security:
      - bearerAuth: []
    delete:
      summary: Delete a trigger
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: id
      responses:
        "200":
          description: OK
      security:
      - bearerAuth: []
    patch:
      summary: Update a trigger
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: id
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Trigger'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trigger'
      security:
      - bearerAuth: []
  /api/engine/v2/triggers/{id}/instances:
    get:
      summary: Get list of instances associated wtih given id of users based on email
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: id
      responses:
        "200":
          description: OK
          content:
            text/yaml:
              schema: {}
      security:
      - bearerAuth: []
  /api/engine/v2/users:
    get:
      summary: get all users
      parameters:
      - name: authority_id
        in: query
        description: '....'
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
      security:
      - bearerAuth: []
    post:
      summary: Create a zone
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        required: true
      responses:
        "201":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      security:
      - bearerAuth: []
  /api/engine/v2/users/current:
    get:
      summary: Render the current user
      responses:
        "200":
          description: OK
        "401":
          description: Unauthorized
      security:
      - bearerAuth: []
  /api/engine/v2/users/groups:
    get:
      summary: Get list of groups of users based on email
      parameters:
      - name: emails
        in: query
        description: ' comma-seperated list of emails'
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
      security:
      - bearerAuth: []
  /api/engine/v2/users/{id}:
    get:
      summary: get users
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: id
      - name: authority_id
        in: query
        description: '....'
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
      security:
      - bearerAuth: []
    put:
      summary: Update a user
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: id
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      security:
      - bearerAuth: []
    delete:
      summary: Delete a user
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: id
      responses:
        "200":
          description: OK
      security:
      - bearerAuth: []
    patch:
      summary: Update a user
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: id
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      security:
      - bearerAuth: []
  /api/engine/v2/users/{id}/metadata:
    get:
      summary: Get the metadata of a user
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: id
      - name: name
        in: query
        description: The name of the metadata
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceOS::Api::Metadata'
      security:
      - bearerAuth: []
  /api/engine/v2/zones:
    get:
      summary: get all zones
      parameters:
      - name: limit
        in: query
        description: The maximum numbers of zones to return
        required: false
        schema:
          type: integer
      - name: parent
        in: query
        description: Limit results to the children of this parent zone
        required: false
        schema:
          type: string
      - name: tags
        in: query
        description: return zones with the specified tags
        required: false
        schema:
          type: string
      - name: q
        in: query
        description: Search query term
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Zone'
        "400":
          description: Bad Request
        "403":
          description: Forbidden
      security:
      - bearerAuth: []
    post:
      summary: Create a zone
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Zone'
        required: true
      responses:
        "201":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zone'
      security:
      - bearerAuth: []
  /api/engine/v2/zones/{id}:
    get:
      summary: get a zone
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: id
      - name: complete
        in: query
        description: Include trigger data in response
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zone'
      security:
      - bearerAuth: []
    put:
      summary: Update a zone
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: id
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Zone'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zone'
      security:
      - bearerAuth: []
    delete:
      summary: Delete a zone
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: id
      responses:
        "200":
          description: OK
      security:
      - bearerAuth: []
    patch:
      summary: Update a zone
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: id
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Zone'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zone'
      security:
      - bearerAuth: []
  /api/engine/v2/zones/{id}/exec/{module_slug}/{method}:
    post:
      summary: Execute a method on a module across all systems in a Zone
      parameters:
      - name: method
        in: path
        required: true
        schema:
          type: string
        example: method
      - name: module_slug
        in: path
        required: true
        schema:
          type: string
        example: module_slug
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: id
      responses:
        "200":
          description: OK
          content:
            text/yaml:
              schema: {}
      security:
      - bearerAuth: []
  /api/engine/v2/zones/{id}/metadata:
    get:
      summary: Get the metadata of a zone
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: id
      - name: name
        in: query
        description: The name of the metadata
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceOS::Api::Metadata'
      security:
      - bearerAuth: []
  /api/engine/v2/zones/{id}/triggers:
    get:
      summary: get the triggers attached to current zone
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: id
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Trigger'
      security:
      - bearerAuth: []
components:
  schemas:
    Zone:
      required:
      - name
      - description
      type: object
      properties:
        name:
          type: string
          example: Zone 1391
        description:
          type: string
          example: This zone has space for 1495 people
    Metadata:
      required:
      - name
      - description
      - details
      type: object
      properties:
        name:
          type: string
          example: Orange Metadata
        description:
          type: string
          example: Includes size of orange & more...
        details:
          type: object
          additionalProperties: true
    User:
      required:
      - name
      type: object
      properties:
        name:
          type: string
          example: Robert
    ApiKey:
      required:
      - name
      type: object
      properties:
        name:
          type: string
          example: Robert
    Trigger:
      required:
      - name
      - description
      type: object
      properties:
        name:
          type: string
          example: Trigger 4254
        description:
          type: string
          example: Trigger for zone 34
  responses: {}
  parameters: {}
  examples: {}
  requestBodies: {}
  headers: {}
  securitySchemes: {}
  links: {}
  callbacks: {}
