---
openapi: 3.0.1
info:
  title: PlaceOS Rest-API 2
  version: 1.30.2
paths:
  /api/engine/v2:
      get:
        summary: Healthcheck
        responses:
          "200":
            description: OK
          "500":
            description: Internal Server Error
        security:
        - bearerAuth: []
  /api/engine/v2/triggers:
    get:
      summary: get all triggers
      responses:
        "200":
          description: OK
  /api/engine/v2/zones:
    get:
      summary: get all zones
      parameters:
      - name: limit
        in: query
        description: The maximum numbers of zones to return
        required: false
        schema:
          type: integer
      - name: parent
        in: query
        description: Limit results to the children of this parent zone
        required: false
        schema:
          type: string
      - name: tags
        in: query
        description: return zones with the specified tags
        required: false
        schema:
          type: string
      - name: q
        in: query
        description: Search query term
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
