name: CI
on:
  push:
    paths-ignore:
      - "*.md"
  #  branches:
  #    - master
  #
  # pull_request:
  #   paths:
  #     # Crystal code and dependencies
  #     - "*.cr"
  #     - "shard.*"
  #     # Test harness
  #     - "docker-compose.yml"
  #     - "Dockerfile"
  #     - "test"

jobs:
  test:
    uses: PlaceOS/.github/.github/workflows/containerised-test.yml@main
    with:
      todo_issues: true

  crystal-style:
    uses: PlaceOS/.github/.github/workflows/crystal-style.yml@main

  dockerfile-style:
    uses: PlaceOS/.github/.github/workflows/dockerfile-style.yml@main

  test:
    uses: PlaceOS/.github/.github/workflows/containerised-test.yml@main

  schema-generation:
    needs: test
    runs-on: ubuntu-latest
    container: crystallang/crystal:1.3.2
    steps:
      - uses: actions/checkout@v2
      - run: shards install
      - name: Generate OpenAPI schema
        run: crystal run ./src/openapi_generator.cr
      - uses: stefanzweifel/git-auto-commit-action@v4.12.0
        with:
          commit_message: "feat(schema): updated schema for changes in ${GITHUB_SHA}"
          file_pattern: "openapi.yaml"
