name: CI
on: push
jobs:
  style:
    runs-on: ubuntu-latest
    container: crystallang/crystal:latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - name: Format
        run: crystal tool format --check
      - name: Lint
        uses: crystal-ameba/github-action@v0.2.12
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Lint Dockerfile
        uses: hadolint/hadolint-action@v1.5.0
        with:
          config: .hadolint.yaml
          dockerfile: Dockerfile
      - name: Lint Dockerfile.test
        uses: hadolint/hadolint-action@v1.5.0
        with:
          config: .hadolint.yaml
          dockerfile: Dockerfile.test

  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        stable: [true]
        crystal:
          - 1.0.0
          - 1.1.1
        include:
          - crystal: nightly
            stable: false
    continue-on-error: ${{ !matrix.stable }}
    steps:
      - uses: actions/checkout@v2
      - name: Run docker-compose test environment
        run: ./test
        env:
          CRYSTAL_VERSION: ${{ matrix.crystal }}
